

NET "addr_ram1[0]" LOC = C17;
NET "addr_ram1[1]" LOC = C18;
NET "addr_ram1[2]" LOC = D16;
NET "addr_ram1[3]" LOC = D17;
NET "addr_ram1[4]" LOC = E15;
NET "addr_ram1[5]" LOC = E16;
NET "addr_ram1[6]" LOC = F14;
NET "addr_ram1[7]" LOC = F15;
NET "addr_ram1[8]" LOC = F17;
NET "addr_ram1[9]" LOC = F18;
NET "addr_ram1[10]" LOC = G13;
NET "addr_ram1[11]" LOC = G14;
NET "addr_ram1[12]" LOC = G15;
NET "addr_ram1[13]" LOC = G16;
NET "addr_ram1[14]" LOC = H14;
NET "addr_ram1[15]" LOC = H15;
NET "addr_ram1[16]" LOC = H16;
NET "addr_ram1[17]" LOC = H17;
NET "addr_ram2[0]" LOC = N14;
NET "addr_ram2[1]" LOC = N15;
NET "addr_ram2[2]" LOC = N18;
NET "addr_ram2[3]" LOC = P16;
NET "addr_ram2[4]" LOC = P17;
NET "addr_ram2[5]" LOC = P18;
NET "addr_ram2[6]" LOC = R15;
NET "addr_ram2[7]" LOC = R16;
NET "addr_ram2[8]" LOC = R18;
NET "addr_ram2[9]" LOC = T17;
NET "addr_ram2[10]" LOC = T18;
NET "addr_ram2[11]" LOC = U18;
NET "addr_ram2[12]" LOC = V15;
NET "addr_ram2[13]" LOC = V13;
NET "addr_ram2[14]" LOC = V12;
NET "addr_ram2[15]" LOC = V9;
NET "addr_ram2[16]" LOC = U16;
NET "addr_ram2[17]" LOC = U15;
NET "data_ram1[0]" LOC = J12;
NET "data_ram1[1]" LOC = J13;
NET "data_ram1[2]" LOC = J14;
NET "data_ram1[3]" LOC = J15;
NET "data_ram1[4]" LOC = J16;
NET "data_ram1[5]" LOC = J17;
NET "data_ram1[6]" LOC = K12;
NET "data_ram1[7]" LOC = K13;
NET "data_ram1[8]" LOC = K14;
NET "data_ram1[9]" LOC = K15;
NET "data_ram1[10]" LOC = L15;
NET "data_ram1[11]" LOC = L16;
NET "data_ram1[12]" LOC = L17;
NET "data_ram1[13]" LOC = L18;
NET "data_ram1[14]" LOC = M13;
NET "data_ram1[15]" LOC = M14;
NET "data_ram2[0]" LOC = U13;
NET "data_ram2[1]" LOC = T16;
NET "data_ram2[2]" LOC = T15;
NET "data_ram2[3]" LOC = T14;
NET "data_ram2[4]" LOC = T12;
NET "data_ram2[5]" LOC = R13;
NET "data_ram2[6]" LOC = R14;
NET "data_ram2[7]" LOC = R12;
NET "data_ram2[8]" LOC = R11;
NET "data_ram2[9]" LOC = R10;
NET "data_ram2[10]" LOC = P13;
NET "data_ram2[11]" LOC = P12;
NET "data_ram2[12]" LOC = P11;
NET "data_ram2[13]" LOC = P10;
NET "data_ram2[14]" LOC = N12;
NET "data_ram2[15]" LOC = N11;
NET "disp_g[6]" LOC = C7;
NET "disp_g[5]" LOC = D7;
NET "disp_g[4]" LOC = E7;
NET "disp_g[3]" LOC = F7;
NET "disp_g[2]" LOC = A8;
NET "disp_g[1]" LOC = E8;
NET "disp_g[0]" LOC = F8;
NET "inst[0]" LOC = D10;
NET "inst[1]" LOC = E10;
NET "inst[2]" LOC = A11;
NET "inst[3]" LOC = B11;
NET "inst[4]" LOC = C11;
NET "inst[5]" LOC = D11;
NET "inst[6]" LOC = E11;
NET "inst[7]" LOC = F11;
NET "inst[8]" LOC = A12;
NET "inst[9]" LOC = E12;
NET "inst[10]" LOC = F12;
NET "inst[11]" LOC = A13;
NET "inst[12]" LOC = B13;
NET "inst[13]" LOC = D13;
NET "inst[14]" LOC = E13;
NET "inst[15]" LOC = A14;
NET "clk" LOC = B9;
NET "com_data_ready" LOC = A16;
NET "com_rdn" LOC = C14;
NET "com_tbre" LOC = D14;
NET "com_tsre" LOC = N9;
NET "com_wrn" LOC = U5;
NET "en_ram1" LOC = M15;
NET "en_ram2" LOC = N10;
NET "oe_ram1" LOC = M16;
NET "oe_ram2" LOC = R9;
NET "we_ram1" LOC = M18;
NET "we_ram2" LOC = M9;
