//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 01 20:15:16 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B9" LEVEL 1;
COMP "addr_ram1<10>" LOCATE = SITE "G13" LEVEL 1;
COMP "addr_ram1<11>" LOCATE = SITE "G14" LEVEL 1;
COMP "addr_ram1<12>" LOCATE = SITE "G15" LEVEL 1;
COMP "addr_ram1<13>" LOCATE = SITE "G16" LEVEL 1;
COMP "addr_ram1<14>" LOCATE = SITE "H14" LEVEL 1;
COMP "addr_ram1<15>" LOCATE = SITE "H15" LEVEL 1;
COMP "addr_ram1<16>" LOCATE = SITE "H16" LEVEL 1;
COMP "addr_ram1<17>" LOCATE = SITE "H17" LEVEL 1;
COMP "addr_ram2<10>" LOCATE = SITE "T18" LEVEL 1;
COMP "addr_ram2<11>" LOCATE = SITE "U18" LEVEL 1;
COMP "addr_ram2<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "addr_ram2<13>" LOCATE = SITE "V13" LEVEL 1;
COMP "addr_ram2<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "addr_ram2<15>" LOCATE = SITE "V9" LEVEL 1;
COMP "addr_ram2<16>" LOCATE = SITE "U16" LEVEL 1;
COMP "addr_ram2<17>" LOCATE = SITE "U15" LEVEL 1;
COMP "disp_g<0>" LOCATE = SITE "F8" LEVEL 1;
COMP "disp_g<1>" LOCATE = SITE "E8" LEVEL 1;
COMP "disp_g<2>" LOCATE = SITE "A8" LEVEL 1;
COMP "disp_g<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "disp_g<4>" LOCATE = SITE "E7" LEVEL 1;
COMP "disp_g<5>" LOCATE = SITE "D7" LEVEL 1;
COMP "disp_g<6>" LOCATE = SITE "C7" LEVEL 1;
COMP "en_ram1" LOCATE = SITE "M15" LEVEL 1;
COMP "en_ram2" LOCATE = SITE "N10" LEVEL 1;
COMP "com_rdn" LOCATE = SITE "C14" LEVEL 1;
COMP "data_ram1<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "data_ram1<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "data_ram1<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "data_ram1<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "data_ram2<0>" LOCATE = SITE "U13" LEVEL 1;
COMP "data_ram1<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "data_ram2<1>" LOCATE = SITE "T16" LEVEL 1;
COMP "data_ram1<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "data_ram2<2>" LOCATE = SITE "T15" LEVEL 1;
COMP "data_ram1<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "data_ram2<3>" LOCATE = SITE "T14" LEVEL 1;
COMP "data_ram1<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "data_ram2<4>" LOCATE = SITE "T12" LEVEL 1;
COMP "data_ram1<8>" LOCATE = SITE "K14" LEVEL 1;
COMP "data_ram2<5>" LOCATE = SITE "R13" LEVEL 1;
COMP "data_ram1<9>" LOCATE = SITE "K15" LEVEL 1;
COMP "data_ram2<6>" LOCATE = SITE "R14" LEVEL 1;
COMP "data_ram2<7>" LOCATE = SITE "R12" LEVEL 1;
COMP "data_ram2<8>" LOCATE = SITE "R11" LEVEL 1;
COMP "data_ram2<9>" LOCATE = SITE "R10" LEVEL 1;
COMP "com_wrn" LOCATE = SITE "U5" LEVEL 1;
COMP "inst<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "inst<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "inst<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "inst<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "inst<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "inst<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "inst<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "inst<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "inst<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "oe_ram1" LOCATE = SITE "M16" LEVEL 1;
COMP "oe_ram2" LOCATE = SITE "R9" LEVEL 1;
COMP "inst<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "we_ram1" LOCATE = SITE "M18" LEVEL 1;
COMP "we_ram2" LOCATE = SITE "M9" LEVEL 1;
COMP "addr_ram1<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "addr_ram1<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "addr_ram1<2>" LOCATE = SITE "D16" LEVEL 1;
COMP "addr_ram1<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "addr_ram2<0>" LOCATE = SITE "N14" LEVEL 1;
COMP "addr_ram1<4>" LOCATE = SITE "E15" LEVEL 1;
COMP "addr_ram2<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "addr_ram1<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "addr_ram2<2>" LOCATE = SITE "N18" LEVEL 1;
COMP "addr_ram1<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "addr_ram2<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "addr_ram1<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "addr_ram2<4>" LOCATE = SITE "P17" LEVEL 1;
COMP "addr_ram1<8>" LOCATE = SITE "F17" LEVEL 1;
COMP "addr_ram2<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "addr_ram1<9>" LOCATE = SITE "F18" LEVEL 1;
COMP "addr_ram2<6>" LOCATE = SITE "R15" LEVEL 1;
COMP "addr_ram2<7>" LOCATE = SITE "R16" LEVEL 1;
COMP "addr_ram2<8>" LOCATE = SITE "R18" LEVEL 1;
COMP "addr_ram2<9>" LOCATE = SITE "T17" LEVEL 1;
COMP "data_ram1<10>" LOCATE = SITE "L15" LEVEL 1;
COMP "data_ram1<11>" LOCATE = SITE "L16" LEVEL 1;
COMP "data_ram1<12>" LOCATE = SITE "L17" LEVEL 1;
COMP "data_ram1<13>" LOCATE = SITE "L18" LEVEL 1;
COMP "data_ram1<14>" LOCATE = SITE "M13" LEVEL 1;
COMP "data_ram1<15>" LOCATE = SITE "M14" LEVEL 1;
COMP "data_ram2<10>" LOCATE = SITE "P13" LEVEL 1;
COMP "data_ram2<11>" LOCATE = SITE "P12" LEVEL 1;
COMP "data_ram2<12>" LOCATE = SITE "P11" LEVEL 1;
COMP "data_ram2<13>" LOCATE = SITE "P10" LEVEL 1;
COMP "data_ram2<14>" LOCATE = SITE "N12" LEVEL 1;
COMP "data_ram2<15>" LOCATE = SITE "N11" LEVEL 1;
COMP "com_tbre" LOCATE = SITE "D14" LEVEL 1;
COMP "com_tsre" LOCATE = SITE "N9" LEVEL 1;
COMP "inst<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "inst<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "inst<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "inst<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "inst<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "inst<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "com_data_ready" LOCATE = SITE "A16" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

